{
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "double"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "comma-dangle": [2, "always-multiline"],
    "no-var": 2,
    "indent": [2, 4]
  }
}
